header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#static-header {
    display:flex;
}

#static-header img {
    width:80px;
    height:80px;
    background-color: aquamarine;
}

#static-header h1 {
    flex-grow: 1;
}

#profile-display {
    display:flex;
    align-items: center;
}

#profile-display img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background: chartreuse;
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
}
#movie-list li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    width: 200px;
    height: 300px;
    padding: 3px;
    margin: 5px;
    border: solid;
}

#movie-list img {
    width: 125px;
}