header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width:80px;
    height:80px;
    background-color: aquamarine;
}
header h1 {
    flex-grow: 1;
}

#profile-display {
    display:flex;
    align-items: center;
}

#profile-display img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background: chartreuse;
}